src/main/resources/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
    <xs:element name="customer">
         
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="stringMaxSize10" />
                <xs:element ref="phone-number" maxOccurs="2" />
             </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name="phone-number">
        <xs:complexType />
    </xs:element>
 
    <xs:simpleType name="stringMaxSize10">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
 
</xs:schema>