src/main/resources/vpayable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="VpayableXML">

		<xs:complexType>
			<xs:sequence>
				<xs:element name="amount" type="xs:double" />
				<xs:element name="type" type="stringVMaxSize10" />
				<xs:element name="description" type="stringVMaxSize21" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:simpleType name="stringVMaxSize21">
		<xs:restriction base="xs:string">
			<xs:maxLength value="21" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringVMaxSize10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>